body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: grey;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

#countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    padding: 20px;
}

.country-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem;
}

.country-card img {
    margin: 0 auto;
    display: block;
}
